spring-demo/src/main/resources/com/springframework/config/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.hikvision.com/schema/user"
			xmlns:tns="http://www.hikvision.com/schema/user"
			elementFormDefault="qualified">
	<element name="user">
		<complexType>
			<attribute name ="name" type = "string"/>
			<attribute name ="address" type = "string"/>
			<attribute name="id" type="string"/>
 		</complexType>
	</element>
</schema>